@model WebApplication2.Models.BOOK_EDITION

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "BOOK_EDITION", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BOOK_EDITION</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.EditionName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EditionName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EditionName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EditionAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EditionAuthor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EditionAuthor, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EditionPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EditionPrice, new { htmlAttributes = new { @class = "form-control", type = "number", oninput = "this.value = this.value.slice(0, 18)" } })
                @Html.ValidationMessageFor(model => model.EditionPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EditionDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EditionDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EditionDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EditionYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EditionYear, new { htmlAttributes = new { @class = "form-control", type = "number", oninput = "this.value = this.value.slice(0, 4)" } })
                @Html.ValidationMessageFor(model => model.EditionYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EditionPageCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EditionPageCount, new { htmlAttributes = new { @class = "form-control", type = "number", oninput = "this.value = this.value.slice(0, 4)" } })
                @Html.ValidationMessageFor(model => model.EditionPageCount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BookCollectionID, "BookCollectionID", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownList("BookCollectionID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BookCollectionID, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <div>Did not find your book collection? Create now</div>
        </div>

        <div class="form-group">
            <label for="imageUpload">Select multiple images:</label>
            <input type="file" name="imageUpload" id="imageUpload" multiple accept="image/*">
        </div>
        <div id="preview"></div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    console.log('@ViewBag.BookCollectionID')


    document.getElementById('imageUpload').addEventListener('change', function () {
        var preview = document.getElementById('preview');
        preview.innerHTML = '';
        var files = this.files;
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();
            reader.onload = function () {
                var img = document.createElement('img');
                img.src = this.result;
                img.style.width = '50%';
                img.style.height = '50%';
                preview.appendChild(img);
            }
            reader.readAsDataURL(file);
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
