@model PagedList.IPagedList<WebApplication2.Models.BOOK_EDITION>
@using PagedList.Mvc;
@{
	ViewBag.Title = "BookFilterView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="shopFilter">
<!-- Breadcrumb Start -->
<div class="container-fluid">
	<div class="row px-xl-5">
		<div class="col-12">
			<nav class="breadcrumb bg-light mb-30">
				<a class="breadcrumb-item text-dark" href="#">Home</a>
				<a class="breadcrumb-item text-dark" href="#">Shop</a>
				<span class="breadcrumb-item active">Shop List</span>
			</nav>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid p-0">
	<div class="row px-xl-5">
		<!-- Shop Sidebar Start -->
		<div class="col-lg-3 col-md-4">
			<!-- Price Start -->
			<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by prices</span></h5>
			<div class="bg-light p-4 mb-30">
				<form id="filter-by-prices">
					@if (ViewBag.priceRanges.Count == 1)
					{
						<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" minPrice="@ViewBag.priceRanges[0].Item1" maxPrice="@ViewBag.priceRanges[0].Item1" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">$@ViewBag.priceRanges[0].Item1</label>
						</div>
					}
					else
					{
						for (int i = 0; i < ViewBag.priceRanges.Count; i++)
						{
							if (@ViewBag.priceRanges[i].Item2 < 0)
							{
								<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
									<input type="checkbox" minPrice="@ViewBag.priceRanges[0].Item1" maxPrice="@ViewBag.priceRanges[0].Item2" class="custom-control-input" id="price-@i">
									<label class="custom-control-label" for="price-@i">> @ViewBag.priceRanges[i].Item1.ToString("#,##0").Replace(",", ".") VND</label>
								</div>
							}
							else
							{
								<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
									<input type="checkbox" minPrice="@ViewBag.priceRanges[0].Item1" maxPrice="@ViewBag.priceRanges[0].Item2" class="custom-control-input" id="price-@i">
									<label class="custom-control-label" for="price-@i">@ViewBag.priceRanges[i].Item1.ToString("#,##0").Replace(",", ".") ~ @ViewBag.priceRanges[i].Item2.ToString("#,##0").Replace(",", ".") VND</label>
								</div>
							}
						}
					}
				</form>
			</div>
			<!-- Price End -->
			<!-- Color Start -->
			<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by categories</span></h5>
			<div class="bg-light p-4 mb-30">
				<form id="filter-by-categories">
					@*<span class="badge border font-weight-normal">1000</span>*@
					@for (int j = 0; j < ViewBag.categories.Count; j++)
					{
						if (ViewBag.selectedCategory == ViewBag.categories[j].CategoryID)
						{
							<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
								<input checked type="checkbox" cate-id="@ViewBag.categories[j].CategoryID" class="custom-control-input" id="cate-@j">
								<label class="custom-control-label" for="cate-@j">@ViewBag.categories[j].CategoryName</label>
							</div>
						}
						else
						{
							<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
								<input type="checkbox" cate-id="@ViewBag.categories[j].CategoryID" class="custom-control-input" id="cate-@j">
								<label class="custom-control-label" for="cate-@j">@ViewBag.categories[j].CategoryName</label>
							</div>
						}
					}
				</form>
			</div>
			<!-- Color End -->
		</div>
		<!-- Shop Sidebar End -->
		<!-- Shop Product Start -->
		<div class="col-lg-9 col-md-8">
			<div class="row pb-3">
				<div class="col-12 pb-1">
					<div class="d-flex align-items-center justify-content-between mb-2">
						<div class="ml-2">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Xắp xếp</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item sort-option" style="cursor: pointer;" sort-option="lastest">Mới nhất</a>
									<a class="dropdown-item sort-option" style="cursor: pointer;" sort-option="popularity">Phổ biến nhất</a>
									<a class="dropdown-item sort-option" style="cursor: pointer;" sort-option="rating">Được đánh giá cao nhất</a>
								</div>
							</div>
							<div class="btn-group ml-2">
								<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Thứ tự</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item sort-order" style="cursor: pointer;" sort-order="asc">A -> Z</a>
									<a class="dropdown-item sort-order" style="cursor: pointer;" sort-order="desc">Z -> A</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="_filtered-book-wrapper" class="row w-100 pr-4">
					@Html.Partial("_FilteredBook", Model)
				</div>
			</div>
			<!-- Shop Product End -->
		</div>
	</div>
	<!-- Shop End -->
</div>