@model WebApplication2.Models.CUSTOMER_ORDER

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CUSTOMER_ORDER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderShippingMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderShippingMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderPaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderPaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person1.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person1.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person2.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person2.PersonName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
