@model IEnumerable<WebApplication2.Models.CUSTOMER_ORDER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string CurrentStatus;
    int[] confirm = (int[])ViewBag.confirm;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Ngày đặt hàng
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Trạng thái đơn hàng
        </th>
        <th></th>
        <th></th>
        <th></th>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.OrderTotalPrice.ToString("#,##0").Replace(",", ".") VND
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUSTOMER_ORDER_STATUS.LastOrDefault(p => p.OrderID == item.OrderID).ORDER_STATUS.OrderStatus)
            </td>
            <td>
                @Html.ActionLink("Chi tiết đơn hàng", "Details", new { id = item.OrderID }, new { @class = "btn btn-dark" })
            </td>
            <td>
                @{
                    CurrentStatus = item.CUSTOMER_ORDER_STATUS.LastOrDefault(p => p.OrderID == item.OrderID).ORDER_STATUS.OrderStatus;
                    if (Convert.ToInt32(ViewBag.currentRole) == 4 && CurrentStatus == "WAITING")
                    {
                        //Cus - này a Duy sửa típ
                        @Html.ActionLink("Hủy đơn", "CancelByCustomer", new { id = item.OrderID }, new { @class = "btn btn-danger" });
                    }
                    else if (Convert.ToInt32(ViewBag.currentRole) == 2 && CurrentStatus != "SUCCESS")
                    {
                        //Staff
                        @Html.ActionLink("Chuyển trạng thái", "ChangeStatus", new { id = item.OrderID })
                    }
                    else if (Convert.ToInt32(ViewBag.currentRole) == 3 && Convert.ToInt32(ViewBag.cusGiven) == item.ShipperID && CurrentStatus == "DELIVERING")
                    {
                        //Deliver
                        @Html.ActionLink("Hủy đơn", "Deliver", new { id = item.OrderID }, new { @class = "btn btn-danger", style = "width: 100px" })
                    }
                    else if (Convert.ToInt32(ViewBag.currentRole) == 3 && item.ShipperID == null && CurrentStatus == "DELIVERING")
                    {
                        //Deliver
                        @Html.ActionLink("Nhận đơn", "Deliver", new { id = item.OrderID }, new { @class = "btn btn-primary", style = "width: 100px" })
                    }
                }
            </td>
            <td>
                @{
                    CurrentStatus = item.CUSTOMER_ORDER_STATUS.LastOrDefault(p => p.OrderID == item.OrderID).ORDER_STATUS.OrderStatus;
                    if (Convert.ToInt32(ViewBag.currentRole) == 3 && Convert.ToInt32(ViewBag.cusGiven) == item.ShipperID && CurrentStatus == "DELIVERING")
                    {
                        if (confirm.Contains(item.OrderID))
                        {
                            <p>Đã giao</p>
                        }
                        else
                        {
                            <button type="button" id="confirm" class="btn btn-success mb-2" data-toggle="modal" data-target="#myModal" data-orderid=@item.OrderID>Xác nhận</button>
                        }

                    }
                }
            </td>
        </tr>
    }
    </table>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="LoadPartialView">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>
        jQuery('#confirm').click(function () {
            var orderid = jQuery(this).data('orderid');

            jQuery.ajax({
                url: '/CUSTOMER_ORDER/RenderPartialView',
                data: { orderid: orderid },
                success: function (data) {
                    jQuery('#LoadPartialView').html(data);
                }
            });
        });
    </script>
    s