@model IEnumerable<WebApplication2.Models.CUSTOMER_ORDER>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <table class="table">
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Ngày đặt hàng
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Trạng thái đơn hàng
            </th>
            <th>

            </th>
            <th>
                Tác vụ
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @item.OrderTotalPrice.ToString("#,##0").Replace(",", ".") VND
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_ORDER_STATUS.LastOrDefault(p => p.OrderID == item.OrderID).ORDER_STATUS.OrderStatus)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết đơn hàng", "Details", new { id = item.OrderID }, new { @class = "btn btn-dark" })

                </td>
                <td>
                    @{
                        if (Convert.ToInt32(ViewBag.currentRole) == 4)
                        {
                            //Cus - này a Duy sửa típ
                            if (Convert.ToInt32(item.CUSTOMER_ORDER_STATUS.LastOrDefault(p => p.OrderID == item.OrderID).ORDER_STATUS.StatusID) == 2)
                            {
                                @Html.ActionLink("Hủy đơn", "CancelByCustomer", new { id = item.OrderID }, new { @class = "btn btn-danger" });
                            }

                        }
                        else if (Convert.ToInt32(TempData["role"]) == 2)
                        {
                            //Staff
                            @Html.ActionLink("Change status", "ChangeStatus", new { id = item.OrderID }, new { @class = "btn btn-primary" })
                        }
                    }
                </td>
            </tr>
        }

    </table>
