@model WebApplication2.Models.CATEGORY

@{
    ViewBag.Title = "Create";
}

<h2>Thêm mới</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Thông tin danh mục</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-10" })
        <div id="createDuplicate" class="col-md-10">
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @required = "required", @onchange = "handleDuplicate()" } })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryDescription, htmlAttributes: new { @class = "control-label col-md-10 " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryDescription, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.CategoryDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="createButton" type="submit" value="Tạo mới" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div id="create-error-message">
        </div>
    </div>
</div>
}

<script>
    function handleDuplicate() {
        var categoryName = $('#createDuplicate').find('#CategoryName').val();
        var listOfName = @Html.Raw(Json.Encode(ViewBag.usedName));
        if (listOfName != null && listOfName.includes(categoryName)) {
            $('#create-error-message').html('<p style="color:red">Tên danh mục bị trùng</p>')
            $('#createButton').prop('disabled', true);
        } else {
            $('#create-error-message').html('')
            $('#createButton').prop('disabled', false);
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
