@model IEnumerable<WebApplication2.Models.PROMOTION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PromotionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PromotionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PromotionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PromotionID })
        </td>
    </tr>
}

</table>
