@model IEnumerable<WebApplication2.Models.OrderHistoryModel>

<div class="container-fluid" style="height: calc(700px - 30px); overflow-y: scroll; overflow-x: hidden">
	<div class="orders w-100 py-3">
		@if (Model.ToList().Count > 0)
		{
			foreach (var o in Model)
			{
				<div class="order d-flex flex-column border-bottom border-light py-3">
					<div class="heading-light d-flex justify-content-between mb-3">
						<div class="payment-method font-weight-bold">Ngày mua: @o.order.OrderDate</div>
						<div class="shipping-method font-weight-bold">
							Phương thức giao hàng:
							@{
								switch (o.order.OrderShippingMethod)
								{
									case "RECEIVE AT STORE":
										@Html.Raw("Nhận tại cửa hàng");
										break;
									case "SHIPPING":
										@Html.Raw("Giao tận nhà");
										break;
									default:
										break;
								}
							}
						</div>
						<div class="payment-method font-weight-bold">Phương thức thanh toán: @{
							switch(o.order.OrderPaymentMethod) {
								case "CURRENT BALANCE":
									@Html.Raw("Số dư hiện tại");
									break;
								case "CASH":
									@Html.Raw("Tiền mặt");
									break;
								default:
									break;
							}
						}</div>
						<div class="payment-method font-weight-bold" class="order-status">
							Trạng thái: @o.orderStatus
						</div>
					</div>
					<div>
						@foreach (var oi in o.orderItems)
						{
							Html.RenderPartial("OrderHistoryItem", oi);
						}
					</div>
					<div class="total-price text-right h5 text-danger">
						Tổng tiền: @o.order.OrderTotalPrice.ToString("#,##0").Replace(",", ".") VND
					</div>
				</div>
			}
		}
		else
		{
			<h3>Bạn chưa đặt đơn hàng nào</h3>
			<p>Nhanh tay đặt hàng ngay, đặt càng nhiều ưu đãi càng lớn!!</p>
		}
	</div>
</div>
