@model PagedList.IPagedList<WebApplication2.Models.CUSTOMER_ORDER>
@using PagedList.Mvc;

@{
	Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<!--**********************************
			Content body start
		***********************************-->
<div class="content-body">

	<div class="row page-titles mx-0">
		<div class="col p-md-0">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
				<li class="breadcrumb-item"><a href="@Url.Action("Index", "CustomerOrderForManager")">Danh mục</a></li>

			</ol>
		</div>
	</div>

	<div class="d-flex justify-content-end mr-4">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
			Thêm danh mục mới
		</button>
	</div>


	<hr />


	<!-- row -->
	@using (Html.BeginForm("Index", "CustomerOrderForManager", FormMethod.Get, new { @class = "form-inline justify-content-between" }))
	{
		<div class="form-group ml-4" style="width:100%">
			<label class="ml-4">Từ ngày: </label>
			<input type="date" class="form-control mx-sm-3" name="startDate" onchange="this.form.submit()" value="@ViewBag.startDate" />
			<label class="ml-2">Đến ngày: </label>
			<input type="date" class="form-control mx-sm-3" name="endDate" value="@ViewBag.endDate" min="@ViewBag.startDate" onchange="this.form.submit()" />
			<a style="color:red" href="@Url.Action("Index", "Promotions")">Xóa bộ lọc</a>
		</div>

		<div class="form-group ml-5 mt-3">
			<label>Tên danh mục: </label>
			<input type="Text" class="form-control mx-sm-3" value="@ViewBag.Keyword" name="searchString" placeholder="">
			<input type="submit" class="btn btn-danger" value="Tìm kiếm">
		</div>
		<div class="form-group ml-auto mr-4  mt-3">
			<label class="ml-2">Sắp xếp theo: </label>
			@Html.DropDownList("sortOptions", null, htmlAttributes: new { @class = "form-control  mx-sm-3", @onchange = "this.form.submit();" })
		</div>
		<hr />
	}



	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Danh sách danh mục</h4>
						<div class="table-responsive">
							<table class="table table-striped table-bordered zero-configuration">
								<thead>
									<tr>
										<th>
											@Html.DisplayNameFor(model => model.First().OrderID)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.First().OrderDate)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.First().OrderTotalPrice)
										</th>
										<th>
											Trạng thái đơn hàng
										</th>
										<th>Thao tác</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.OrderID)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.OrderDate)
											</td>
											<td>
												@item.OrderTotalPrice.ToString("#,##0").Replace(",", ".") VNĐ
											</td>
											@{
												string status = item.CUSTOMER_ORDER_STATUS.LastOrDefault(p => p.OrderID == item.OrderID).ORDER_STATUS.OrderStatus;
												switch (status)
												{
													case "CANCEL BECAUSE OF MANY FAILED DELIVERING":
													case "CANCEL BY CUSTOMER":
														<td class="text-danger">
															@status
														</td>
														break;
													case "INITIAL":
														<td>
															@status
														</td>
														break;
													case "WAITING":
														<td class="text-warning">
															@status
														</td>
														break;
													default:
														<td class="text-success">
															@status
														</td>
														break;
												}
											}
											<td>
												@Html.ActionLink("Chi tiết đơn hàng", "Details", new { id = item.OrderID }, new { @class = "btn btn-dark" })
											</td>
										</tr>
									}
								</tbody>
							</table>
							@if (Model.PageCount > 1)
							{
								<hr />
								<div class="row">
									<div class="col-md-6 col-lg-6 col-sm-6">
										@using (Html.BeginForm("Index", "CustomerOrderForManager", FormMethod.Get))
										{
											<p>
												Kích thước trang: @Html.DropDownList("size", null, new { @onchange = "this.form.submit();" })
											</p>
										}
									</div>
									<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
										Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) / @Model.PageCount
									</div>
								</div>
								@Html.PagedListPager(Model, page => Url.Action("Index", "CustomerOrderForManager", new { page, size = ViewBag.currentSize, sortOptions = ViewBag.selectedSort, startDate = ViewBag.startDate, endDate = ViewBag.endDate }))
							}

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- #/ container -->
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->
