@model WebApplication2.Models.PROMOTION

@{
    ViewBag.Title = "Create";
}

<h2>Thêm mới</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin khuyến mãi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PromotionName, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromotionName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.PromotionName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionDiscount, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromotionDiscount, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "number", @step = "any" } })
                @Html.ValidationMessageFor(model => model.PromotionDiscount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PromotionDetails, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.PromotionDetails,  new { @class = "form-control", placeholder = "Tự động tạo khi để trống" } )
                @Html.ValidationMessageFor(model => model.PromotionDetails, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionStartDate, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                <input type="datetime-local" id="PromotionStartDate" name="PromotionStartDate" class="form-control" required />
                @Html.ValidationMessageFor(model => model.PromotionStartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionEndDate, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                <input type="datetime-local" id="PromotionEndDate" name="PromotionEndDate" class="form-control" required />
                @Html.ValidationMessageFor(model => model.PromotionEndDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>Danh sách được áp dụng khuyến mãi</label>
                <hr />

                @foreach (var book in ViewBag.list_of_book)
                {
                    string labelName = "Tên sách: " + book.EditionName + " - Mã sách: " + book.EditionID.ToString();
                    <input type="checkbox" id="@book.EditionID" name="@book.EditionID" value="@book.EditionID">
                    <label for="@book.EditionID">@labelName</label><br>
                }
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        var initial = new Date();
        $("#PromotionStartDate").val(initial.toISOString().slice(0, 16));
        initial.setMinutes(initial.getMinutes() + 10)
        $("#PromotionEndDate").prop("min", initial.toISOString().slice(0, 16));

        $("#PromotionStartDate").on("change", function () {
            var minDate = new Date($(this).val());
            minDate.setMinutes(minDate.getMinutes() + 10);
            $("#PromotionEndDate").prop("min", minDate.toISOString().slice(0, 16));
        });
    });
</script>