@model PagedList.IPagedList<WebApplication2.Models.PROMOTION>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}




<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Promotions")">Chương trình khuyến mãi</a></li>
            </ol>
        </div>
    </div>

    <div class="d-flex justify-content-end mr-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Thêm khuyến mãi mới
        </button>
    </div>
    <hr />

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="CreatePartialViewContainer">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body edit-modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>




    <!-- row -->
    @using (Html.BeginForm("Index", "PROMOTIONs", FormMethod.Get, new { @class = "form-inline justify-content-between" }))
    {

        <div class="form-group " style="width:100%">
            <label class="ml-4">Ngày bắt đầu: </label>
            <input type="date" class="form-control mx-sm-3" name="startDate" onchange="this.form.submit()" value="@ViewBag.startDate" />
            <label class="ml-2">Ngày kết thúc: </label>
            <input type="date" class="form-control mx-sm-3" name="endDate" value="@ViewBag.endDate" min="@ViewBag.startDate" onchange="this.form.submit()" />
            <a style="color:red" href="@Url.Action("Index","Promotions")">Xóa bộ lọc</a>



        </div>

        <div class="form-group ml-4 mt-3">
            <label>Tên khuyến mãi: </label>
            <input type="Text" class="form-control mx-sm-3" value="@ViewBag.Keyword" name="searchString" placeholder="">
            <input type="submit" class="btn btn-danger" value="Tìm kiếm">
        </div>

        <div class="form-group ml-auto mr-4 mt-3">
            <label class="ml-2">Sắp xếp theo: </label>
            @Html.DropDownList("sortOptions", null, htmlAttributes: new { @class = "form-control  mx-sm-3", @onchange = "this.form.submit();" })
        </div>
        <hr />
    }



    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách khuyến mãi</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.First().PromotionID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.First().PromotionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.First().PromotionDiscount) (%)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.First().PromotionStartDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.First().PromotionEndDate)
                                        </th>
                                        <th>
                                            Trạng thái
                                        </th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PromotionID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PromotionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PromotionDiscount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PromotionStartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PromotionEndDate)
                                            </td>
                                            @if (DateTime.Now >= item.PromotionStartDate && DateTime.Now <= item.PromotionEndDate)
                                            {
                                                <td style="color:green">Đang diễn ra</td>
                                            }
                                            else
                                            {
                                                <td>Đã kết thúc</td>
                                            }
                                            <td>
                                                <button type="button" class="btn btn-primary" id="@item.PromotionID" data-toggle="modal" data-target="#editModal" value="@item.PromotionID" onclick="loadPartialView(this.value)">
                                                    Chỉnh sửa
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                @using (Html.BeginForm("Index", "Book_collection", FormMethod.Get))
                                {
                                    <p>
                                        Kích thước trang: @Html.DropDownList("size", null, new { @onchange = "this.form.submit();" })
                                    </p>
                                }
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
                                Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) / @Model.PageCount
                            </div>
                        </div>
                        @Html.PagedListPager(Model, page => Url.Action("Index", "Book_collection", new { searchString = ViewBag.Keyword, page, size = ViewBag.currentSize, sortOptions = ViewBag.selectedSort, startDate = ViewBag.startDate, endDate = ViewBag.endDate }))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
<script>
    $(document).ready(function () {
        $("#clear-btn").click(function () {
            window.location.href = "/Manager/PROMOTIONs/";
        });
    });

</script>
<script>
    function loadCreatePartialView() {
        $.ajax({
            url: '/Manager/PROMOTIONs/Create',
            type: 'GET',
            success: function (data) {
                $('#CreatePartialViewContainer').html(data);
            },
            error: function () {
                $('#CreatePartialViewContainer').html("<p>Error loading partial view.</p>")
            }
        });
    }
    loadCreatePartialView();
</script>

<script>
    function loadPartialView(id) {
        $.ajax({
            url: '/Manager/PROMOTIONs/Edit',
            data: { id: id },
            type: 'GET',
            success: function (data) {
                $('.edit-modal-body').html(data);
            }
        });
    }
</script>






