@model WebApplication2.Models.TIER

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa</h2>




@using (Html.BeginForm("Edit", "TIERs", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thông tin hạng</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TierID)

    <div class="form-group">
        @Html.LabelFor(model => model.TierName, htmlAttributes: new { @class = "control-label " })
        <div id="editDuplicate" class="col-md-10">
            @Html.EditorFor(model => model.TierName, new { htmlAttributes = new { @class = "form-control" , @onchange="handleDuplicate()" , @required = "required" } })
            @Html.ValidationMessageFor(model => model.TierName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TierDiscount, htmlAttributes: new { @class = "control-label " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TierDiscount, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.TierDiscount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TierLevel, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TierLevel, new { htmlAttributes = new { @class = "form-control" , @required = "required" } })
            @Html.ValidationMessageFor(model => model.TierLevel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="editButton" type="submit" value="Lưu" class="btn btn-default" />
            <button type="button" class="btn btn-primary" onclick="loadController(@Model.TierID)">Xóa</button>
        </div>
    </div>

    <div class="form-group">
        <div id="edit-error-message">
        </div>
    </div>
</div>
}



<script>

    function loadController(id) {
        var userResponse = confirm("Ban sure chua?");
        if (userResponse == true) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Manager/TIERs/Delete',
                data: { id: id, __RequestVerificationToken: token },
                type: 'POST',
                success: function (data) {
                    if (data.redirectToAction) {
                        window.location.href = data.actionUrl;
                    }
                }
            });
        }

    }

</script>

<script>
    function handleDuplicate() {
        var tierName = $('#editDuplicate').find('#TierName').val();
        var listOfName = @Html.Raw(Json.Encode(ViewBag.usedName));
        console.log(tierName)
        console.log(listOfName)
        if (listOfName != null && listOfName.includes(tierName)) {
            $('#edit-error-message').html('<p style="color:red">Tên hạng bị trùng</p>')
            $('#editButton').prop('disabled', true);
        } else {
            $('#edit-error-message').html('')
            $('#editButton').prop('disabled', false);
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
