@model WebApplication2.Models.STOCK_RECEIVED_NOTE_DETAIL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>STOCK_RECEIVED_NOTE_DETAIL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoteDetailQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteDetailQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteDetailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteDetailPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK_EDITION.EditionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK_EDITION.EditionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOCK_RECEIVED_NOTE.StockReceivedNoteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCK_RECEIVED_NOTE.StockReceivedNoteID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
