@model IEnumerable<WebApplication2.Models.STOCK_RECEIVED_NOTE_DETAIL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (ViewBag.id != null)
{
    <p>Current Stock Received Note: @ViewBag.id</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteDetailQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteDetailPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_EDITION.EditionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_EDITION.EditionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOCK_RECEIVED_NOTE.StockReceivedNoteID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NoteDetailQuantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoteDetailPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_EDITION.EditionID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BOOK_EDITION.EditionName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.STOCK_RECEIVED_NOTE.StockReceivedNoteID)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id=item.NoteDetailID }) |
        @Html.ActionLink("Details", "Details", new { id = item.NoteDetailID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.NoteDetailID })
    </td>
</tr>
    }

</table>
