@model WebApplication2.Models.TRANSACTION_DETAILS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TRANSACTION_DETAILS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANK_ACCOUNT.BankAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANK_ACCOUNT.BankAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_ORDER.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_ORDER.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WALLET.WalletID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WALLET.WalletID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
