@model IEnumerable<WebApplication2.Models.ManageUserViewModelItem>

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
@{
    var registerModel = new WebApplication2.Models.RegisterViewModel();
}

<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Đăng ký tài khoản mới
    </button>
    <hr />

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_RegisterPartialView", registerModel, new ViewDataDictionary {
    { "AccountType", @ViewBag.AccountType }})
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- row -->
    @using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <label>Loại người dùng: </label>
            @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
            <label>Tên người dùng hoặc số điện thoại: </label>
            <input type="Text" class="form-control mx-sm-3" value="@ViewBag.Keyword" name="searchString" placeholder="">
            <input type="submit" class="btn btn-danger" value="Tìm kiếm">
        </div><hr />
    }


    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Data Table</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Person.PersonID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Person.PersonName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Person.AspNetUser.PhoneNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Person.PersonAddress)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Person.PersonStatus)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Person.AspNetUser.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Person.TIER.TierName)
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Person.PersonID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Person.PersonName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Person.AspNetUser.PhoneNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Person.PersonAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Person.PersonStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Person.AspNetUser.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Person.TIER.TierName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountType)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Details", "Details", new { id = item.Person.PersonID }) |

                                                @using (Html.BeginForm("ChangeUserStatus", "User", FormMethod.Post))
                                                {
                                                    if (item.Person.PersonStatus == "ACTIVE")
                                                    {
                                                        @Html.Hidden("id", item.Person.PersonID)
                                                        <button type="submit">Lock</button>
                                                    }
                                                    else
                                                    {
                                                        @Html.Hidden("id", item.Person.PersonID)
                                                        <button type="submit">Active</button>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
