@model WebApplication2.Models.STOCK_INVENTORY

@{
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

@using System.Globalization;

@{
    var stockTotalPrice = 0.0;
    foreach (var item in ViewBag.stockInHistory)
    {
        stockTotalPrice += (float)@item.NoteDetailQuantity * (float)@item.NoteDetailPrice;
    }
    var formatedTotalPrice = string.Format(CultureInfo.GetCultureInfo("de-DE"), "{0:N}", stockTotalPrice);

    var totalPrice = 0.0;
    foreach (var item in ViewBag.totalPriceHistory)
    {
        totalPrice += (float)item.DetailCurrentPrice * (float)item.DetailQuantity;
    }
    var formatedTotalAmount = string.Format(CultureInfo.GetCultureInfo("de-DE"), "{0:N}", totalPrice);
}

<div>
    <hr />

    <!--**********************************
            Content body start
        ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">


                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Home")">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Index","Stock_inventory")">Kho hàng</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Details","Stock_inventory", new { id = Model.EditionID})">Chi tiết kho hàng</a></li>

                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">


                            <h4 class="card-title">Chi tiết kho hàng</h4>
                            <div class="basic-form">
                                <form>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"> @Html.DisplayNameFor(model => model.BOOK_EDITION.EditionID)</label>
                                        <div class="col-sm-6 col-form-label">
                                            @Html.DisplayFor(model => model.BOOK_EDITION.EditionID)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.BOOK_EDITION.EditionName)</label>
                                        <div class="col-sm-6 col-form-label">
                                            @Html.DisplayFor(model => model.BOOK_EDITION.EditionName)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            @Html.DisplayNameFor(model => model.InventoryStockInTotal)
                                        </label>
                                        <div class="col-sm-6 col-form-label">
                                            @Html.DisplayFor(model => model.InventoryStockInTotal)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            @Html.DisplayNameFor(model => model.InventoryStockOutTotal)
                                        </label>
                                        <div class="col-sm-6 col-form-label">
                                            @Html.DisplayFor(model => model.InventoryStockOutTotal)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            @Html.DisplayNameFor(model => model.InventoryAvailableStock)
                                        </label>
                                        <div class="col-sm-6 col-form-label">
                                            @Html.DisplayFor(model => model.InventoryAvailableStock)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            Tổng giá nhập
                                        </label>
                                        <div class="col-sm-6 col-form-label">
                                            @if (stockTotalPrice == 1)
                                            {
                                                <p>Chưa nhập sách này</p>

                                            }
                                            else
                                            {
                                                <p>@formatedTotalPrice VNĐ</p>

                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            Tổng doanh thu
                                        </label>
                                        <div class="col-sm-6 col-form-label">
                                            @if (totalPrice == 0)
                                            {
                                                <p>Chưa có doanh thu của sách này</p>

                                            }
                                            else
                                            {
                                                <p>@formatedTotalAmount VNĐ</p>
                                            }
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr />
                            <h4 class="card-title">Lịch sử nhập hàng:</h4>
                            <div class="basic-form">
                                <form>
                                    <div class="form-group">
                                        <ul>
                                            @foreach (var item in ViewBag.stockInHistory)
                                            {
                                                var noteTotalPrice = @item.NoteDetailQuantity * @item.NoteDetailPrice;
                                                var formatedNoteTotalPrice = string.Format(CultureInfo.GetCultureInfo("de-DE"), "{0:N}", noteTotalPrice);
                                                <li>- Nhập @item.NoteDetailQuantity sản phẩm từ mã phiếu: @item.STOCK_RECEIVED_NOTE.StockReceivedNoteID với giá @item.NoteDetailPrice VNĐ. Tổng cộng: @formatedNoteTotalPrice VNĐ  </li>
                                            }
                                        </ul>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

</div>



<h2>Details</h2>

<div>
    <h4>STOCK_INVENTORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InventoryStockInTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryStockInTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryStockOutTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryStockOutTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryAvailableStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryAvailableStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK_EDITION.EditionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK_EDITION.EditionDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EditionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
